<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meditation Entries</title>
    <link rel="stylesheet" href="meditationEntries.css">
</head>

<body>
    <header>
        <h1>Meditation Entries</h1>
    </header>

    <main>
        <div id="meditationEntriesContainer" class="scroll-box"></div>
        <button id="createMeditationEntryButton">Create New Entry</button>
    </main>

    <footer>
        <button id="homeButton">Home</button>
    </footer>

    <script src="meditationEntries.js"></script>
</body>

</html>