<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meditation Entries</title>
    <link rel="stylesheet" href="./meditationEntries.css">
</head>

<body>
    <header>
        <h1>Meditation Entries</h1>
    </header>

    <main id="meditationEntriesContainer" class="scroll-box"></main>

    <button id="createMeditationEntryButton">Create New Entry</button>

    <footer>
        <button id="homeButton">Home</button>
    </footer>

    <script src="./meditationEntries.js"></script>
</body>

</html>
