<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gratitude Entries</title>
    <link rel="stylesheet" href="./gratitudeEntries.css">
</head>

<body>
    <header>
        <h1>Gratitude Entries</h1>
    </header>

    <main id="gratitudeEntriesContainer" class="scroll-box"></main>

    <button id="createGratitudeEntryButton">Create New Entry</button>

    <footer>
        <button id="homeButton">Home</button>
    </footer>

    <script src="./gratitudeEntries.js"></script>
</body>

</html>