#optionText {
    position: absolute;
    top: 59%;
    left: 74%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 13px;
    margin-top: -280px;
    margin-left: -111vh;
}


.background-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backgroundVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Common styles for buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px #ccaac4;
    animation: pulse 5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

button:hover {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}

/* Styles for the gratitude button */
#gratitudeButton {
    background-color: #3498db;
    color: #fff;
    position: absolute;
    top: 77px;
    left: 77px;
}

#gratitudeButton:hover {
    background-color: #2c81ba;
}

/* Styles for the meditation button */
#meditationButton {
    background-color: rgb(106, 11, 11);
    color: #fff;
    position: absolute;
    bottom: 643px;
    right: 1196px;
}

#meditationButton:hover {
    background-color: #c0392b;
}

.overlay-text {
    position: absolute;
    top: 59%;
    left: 74%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 7px;
    margin-top: 3vh;
    margin-left: -13vh;
}

img {
    width: 60%;
    max-width: 200px;
    height: auto;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    filter: drop-shadow(0 0 10px rgba(235, 244, 235, 0.7));
    opacity: 0.7;
    margin-top: 33vh;
    margin-left: 49vh;
}

.glowing-sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: 7px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(235, 244, 235, 0.35), rgba(235, 244, 235, 34%));
    box-shadow: 0 0 20px #e3c8ff;
    animation: pulse 2s infinite alternate;
    z-index: 1;
    margin-top: 13vh;
    margin-left: 17vh;
}

.glowing-sphere.sphere2 {
    position: absolute;
    top: 54%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(235, 244, 235, 74%), rgba(235, 244, 235, 10%));
    box-shadow: 0 0 20px #ccaac4;
    animation: pulse 2s infinite alternate;
    z-index: 1;
    margin-top: -2vh;
    margin-left: 11vh;
}

.glowing-sphere.sphere3 {
    position: absolute;
    top: 53%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 1%;
    height: 2%;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(255 19 114 / 49%), #ccaac400);
    box-shadow: 0 0 20px #ff1cbf;
    animation: pulse 1s infinite alternate;
    z-index: 1;
    margin-top: 9vh;
    margin-left: 11vh;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Media Query for Screens 600px and Smaller (Typical for iPhones) */
@media only screen and (max-width: 600px) {
    .glowing-sphere {
        width: 38%;
        height: 1%;
        margin-top: 14vh;
        margin-left: -16vh;
    }

    img {
        width: 70%;
        max-width: none;
        margin-top: 38vh;
        margin-left: 0vh;
    }

    .glowing-sphere.sphere2 {
        width: 5%;
        height: 2%;
        margin-top: 1vh;
        margin-left: -8vh;
    }

    .glowing-sphere.sphere3 {
        width: 5%;
        height: 2%;
        margin-top: 13vh;
        margin-left: -8vh;
    }

    .overlay-text {
        font-size: 12px;
        margin-top: 12vh;
        margin-left: 1vh;
    }
}










