<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create a New Gratitude Entry</title>
    <link rel="stylesheet" href="./createGratitude.css">
</head>

<body>
    <h1>Create a New Gratitude Entry</h1>

    <form id="gratitudeForm">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="entry">Entry:</label>
        <input type="text" id="entry" name="entry" placeholder="E.g., I'm thankful for.." required>

        <button type="submit" class="submitButton">Submit</button>
    </form>

    <a href="../gratitudeEntries/gratitudeEntries.html" class="backButton">Back to Meditation Entries</a>

    <button id="homeButton">Home</button>

    <script src="./createGratitude.js"></script>
</body>

</html>

